body {
    padding-top: 50px;
}

hr {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
    width: 1170px;
    margin: 0 auto;
}

textarea {
    resize: none !important;
}

.post-tag {
    color: #3e6d8e;
    font-size: 12px;
    line-height: 1.4;
    border-radius: 0;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px 2px 0;
    padding: 0.25em 0.5em;
    border: 1px solid #e4edf4;
    background: none repeat scroll 0 0 #e4edf4;
}

.votes-summary, .answers-summary, .views-summary {
    font-size: 11px;
    text-align: center;
}

.answers-summary {
    background-color: #75845c;
}

.question-title-container {
    font-size: 16px !important;
    padding-top: 5px !important;
    padding-bottom: 0 !important;
}

.question-description-container {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.tag-container {
    padding-top: 5px !important;
    padding-bottom: 10px !important;
}

.footer {
    border-radius: 0 !important;
    padding: 3em 0 3em !important;
}

i.icon {
    display: inline-block !important;
}