body {
    padding-top: 50px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.content {
    padding-bottom: 15px;
}

textarea {
    resize: none !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.post-tag {
    color: #3e6d8e;
    font-size: 12px;
    line-height: 1.4;
    border-radius: 0;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px 2px 0;
    padding: 0.25em 0.5em;
    border: 1px solid #e4edf4;
    background: none repeat scroll 0 0 #e4edf4;
}

.votes-summary, .answers-summary, .views-summary {
    font-size: 11px;
    text-align: center;
}

.answers-summary {
    background-color: #75845c;
}

.question-title-container {
    font-size: 16px !important;
    padding-top: 5px !important;
    padding-bottom: 0 !important;
}

.question-description-container {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

#question .question-description-container {
    min-height: 150px;
    margin-bottom: 10px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.tag-container {
    padding-top: 5px !important;
    padding-bottom: 10px !important;
}

.footer {
    border-radius: 0 !important;
    padding: 3em 0 3em !important;
}

.vote-up-on, .vote-up-off,
.favorite-on, .favorite-off,
.vote-down-on, .vote-down-off {
    font-size: 30px;
}

.vote-up-off, .vote-down-off,
.favorite-off, .favorite-off:hover,
.vote-up-off:hover, .vote-down-off:hover {
    color: rgba(0, 0, 0, 0.6);
}

.vote-up-on, .vote-up-on:hover {
    color: #00b5ad;
}
.vote-down-on, .vote-down-on:hover {
    color: #d95c5c;
}

.vote-count {
    left: -3px;
    font-size: 25px !important;
    padding-bottom: 0 !important;
}

.question-creator-container {
    background-color: #e0eaf1 !important;
}

/* Semantic UI Customization: START */

hr {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ui.selection.dropdown {
    min-width: 120px !important;
}

.footer {
    border-radius: 0 !important;
    padding: 3em 0 3em !important;
}

#tags-container .card .description {
    height: 85px !important;
}

.ui.comments .reply.form textarea {
    height: 8em;
}