extends ../layouts/master
block content
    h2.ui.dividing.header Ask a Question

    div.ui.grid
        div.ten.wide.column(ng-controller="QuestionCtrl as ctrl")
            form.ui.form(name="ctrl.form", novalidate)

                if(error.length > 0)
                    div.ui.negative.message
                        header Your question couldn't be submitted. Please see the errors below.
                        p= error

                div.field.required
                    label Title
                    div.ui.input
                        input(type="text", placeholder="What's your question? Be specific.", name="title", ng-model="ctrl.question.title", required, minlength="10")
                    div(ng-messages="ctrl.form.title.$error", ng-if="ctrl.form.submitted")
                        div.ui.red.pointing.prompt.label.transition.visible(ng-message="required") Please enter question title
                        div.ui.red.pointing.prompt.label.transition.visible(ng-message="minlength") The title entered is too short (Minimum 10 characters required)

                div.field.required
                    label Details
                    div.ui.input
                        textarea(name="description", ng-model="ctrl.question.description", required, minlength="30")
                    div(ng-messages="ctrl.form.description.$error", ng-if="ctrl.form.submitted")
                        div.ui.red.pointing.prompt.label.transition.visible(ng-message="required") Please describe your question
                        div.ui.red.pointing.prompt.label.transition.visible(ng-message="minlength") The description is too short (Minimum 30 characters required)

                div.field.required
                    div.ui.right.labeled.left.icon.input
                        i.tags.icon
                        input(type="text", ng-model="ctrl.question.tags", placeholder="Enter at least one tag such as (php, javascript), max 5 tags are allowed")
                        div.ui.tag.label Tags
                    div You can still add: {{ 5 - ctrl.question.tags.length }}

                div.field.inline
                    div.ui.checkbox
                        input#email(type="checkbox", ng-model="ctrl.question.email")
                        label(for="email") Send me new responses to my posts via email

                button.ui.submit.button(type="button", ng-click="ctrl.post(ctrl.question)") Post Your Question