extends ../layouts/master
block content

    div.ui.grid
        div.six.wide.column(ng-controller="RegistrationCtrl")
            form.ui.form(name="registrationForm", novalidate, action="/users/login", method="POST", ng-submit="register($event)")

                h3.ui.dividing.header Register for a free account

                if(error.length > 0)
                    div.ui.negative.message
                        header An exception occoured.
                        p= error

                div.field.required
                    label Email
                    div.ui.icon.input
                        input(type="email", placeholder="Email", name="email", ng-model="user.username", required)
                        i.mail.icon
                    div(ng-messages="registrationForm.email.$error", ng-if="registrationForm.email.$touched || registrationForm.submitted")
                        div.ui.red.pointing.prompt.label.transition.visible(ng-message="required") Please enter your email address
                        div.ui.red.pointing.prompt.label.transition.visible(ng-message="email") The email entered is not valid

                div.field.required
                    label Password
                    div.ui.icon.input
                        input(type="password", placeholder="Password", name="password", ng-model="user.password", required, minlength="5")
                        i.privacy.icon
                    div(ng-messages="registrationForm.password.$error", ng-if="registrationForm.password.$touched || registrationForm.submitted")
                        div.ui.red.pointing.prompt.label.transition.visible(ng-message="required") Please enter your password
                        div.ui.red.pointing.prompt.label.transition.visible(ng-message="minlength") The password entered is too short (Minimum 5 characters required)

                button.ui.submit.button(type="submit") Register