doctype html
html
    head
        title= "Mongo Overflow"
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon', href='/img/favicon.ico', type='image/x-icon')

        link(rel='stylesheet', href='/assets/bower_components/toastr/toastr.css')
        link(rel='stylesheet', href='/assets/bower_components/semantic-ui/dist/semantic.css')
        link(rel='stylesheet', href='/assets/css/site.css')
    body(ng-app="mongoOverflow", ng-strict-di)
        div(ng-controller="BaseCtrl as base")
            top-bar
            div.container
                navigation
                div.content(ng-view)
            include common/footer

        script(src='/assets/bower_components/jquery/dist/jquery.js')
        script(src='/assets/bower_components/angular/angular.js')
        script(src='/assets/bower_components/angular-route/angular-route.js')
        script(src='/assets/bower_components/angular-messages/angular-messages.js')
        script(src='/assets/bower_components/ng-file-upload/angular-file-upload.js')
        script(src='/assets/bower_components/socket.io-client/socket.io.js')
        script(src='/assets/bower_components/toastr/toastr.js')
        script(src='/assets/bower_components/lodash/lodash.js')
        script(src='/assets/bower_components/semantic-ui/dist/semantic.js')
        script(src='/assets/bower_components/moment/moment.js')

        script(src='/app.js')

        script(src='/providers/configurationProvider.js')

        script(src='/services/identityService.js')
        script(src='/services/urlService.js')
        script(src='/services/httpService.js')
        script(src='/services/fileService.js')
        script(src='/services/notifierService.js')
        script(src='/services/commentService.js')

        script(src='/directives/topBar/index.js')
        script(src='/directives/navigation/index.js')
        script(src='/directives/topQuestions/index.js')
        script(src='/directives/comments/index.js')
        script(src='/directives/profile/index.js')
        script(src='/directives/presenter/errorMessage.js')

        script(src='/controllers/baseCtrl.js')

        script(src='/question/listCtrl.js')
        script(src='/question/addCtrl.js')
        script(src='/question/detailsCtrl.js')

        script(src='/tag/tagService.js')
        script(src='/tag/listCtrl.js')

        script(src='/account/loginCtrl.js')
        script(src='/account/registrationCtrl.js')

        script(src='/user/userService.js')
        script(src='/user/profileCtrl.js')
        script(src='/user/profileEditCtrl.js')