<h2 class="ui dividing header">Ask a Question</h2>

<div class="ui grid">
    <div ng-controller="QuestionAddCtrl as ctrl" class="ten wide column">
        <form name="ctrl.form" novalidate="novalidate" class="ui form">

            <div ng-if="ctrl.errors">
                <error-message messages="ctrl.errors"></error-message>
            </div>

            <div class="field required">
                <label>Title</label>
                <div class="ui input">
                    <input type="text" placeholder="What's your question? Be specific." name="title" ng-model="ctrl.question.title" required="required" minlength="10" />
                </div>
                <div ng-messages="ctrl.form.title.$error" ng-if="ctrl.form.submitted">
                    <div ng-message="required" class="ui red pointing prompt label transition visible">Please enter question title</div>
                    <div ng-message="minlength" class="ui red pointing prompt label transition visible">The title entered is too short (Minimum 10 characters required)</div>
                </div>
            </div>

            <div class="field required">
                <label>Details</label>
                <div class="ui input">
                    <textarea name="description" ng-model="ctrl.question.description" required="required" minlength="30"></textarea>
                </div>
                <div ng-messages="ctrl.form.description.$error" ng-if="ctrl.form.submitted">
                    <div ng-message="required" class="ui red pointing prompt label transition visible">Please describe your question</div>
                    <div ng-message="minlength" class="ui red pointing prompt label transition visible">The description is too short (Minimum 30 characters required)</div>
                </div>
            </div>

            <div class="field required">
                <div class="ui right labeled left icon input">
                    <i class="tags icon"></i>
                    <input type="text" ng-model="ctrl.question.tags" placeholder="Enter at least one tag such as (php, javascript), max 5 tags are allowed"/>
                    <div class="ui tag label">Tags</div>
                </div>
                <div>You can still add: {{ 5 - ctrl.question.tags.length }}</div>
            </div>

            <div class="field inline">
                <div class="ui checkbox">
                    <input id="email" type="checkbox" ng-model="ctrl.question.email"/>
                    <label for="email">Send me new responses to my posts via email</label>
                </div>
            </div>

            <button type="button" ng-click="ctrl.post(ctrl.question)" class="ui submit button">Post Your Question</button>
        </form>
    </div>
</div>