div.ui.inverted.black.footer.segment
    div.container
        div.ui.stackable.inverted.divided.relaxed.grid
            div.eight.wide.column
                h3.ui.inverted.header Mongo Overflow
                p.
                    Mongo Overflow is an open source project built with <a href="http://nodejs.org/">node.js</a> and <a href="https://www.mongodb.org/">mongodb</a>.
                    This is an Question and Answer based web application highly inspired by <a href="http://stackoverflow.com/">StackOverflow</a>.
                a.ui.teal.button(href="https://bitbucket.org/shibbir/mongo-overflow")
                    i.github.alternate.icon
                    span Fork Today
            div.four.wide.column
                h5.ui.teal.inverted.header Developed By: Shibbir Ahmed

                div.ui.inverted.link.list
                    a.item(target='_blank', href='http://shibbir.net/')
                        i.wordpress.icon
                        span http://shibbir.net/
                    br
                    a.item(target='_blank', href='https://twitter.com/shibbir_net')
                        i.twitter.icon
                        span https://twitter.com/shibbir_net
                    br
                    a.item(target='_blank', href='http://github.com/shibbir/')
                        i.github.icon
                        span http://github.com/shibbir/

            div.four.wide.column
                h5.ui.teal.inverted.header Built with these awesome tools

                div.ui.inverted.link.list
                    a.item(href="http://nodejs.org/") Node.js
                    a.item(href="http://angularjs.org/") Angular.js
                    a.item(href="https://www.mongodb.org/") MongoDB
                    a.item(href="http://expressjs.com/") Express.js
                    a.item(href="http://socket.io/") Socket.IO