div.ui.menu
    div
        a.item(href="/")
            i.home.icon
            b Home
        div.right.menu
            a.item(href="/questions")
                i.feed.icon
                span Questions
            a.item(href="/tags")
                i.tags.icon
                span Tags
            a.item(href="/auth")
                i.users.icon
                span Users
            a.item(href="/badges")
                i.bookmark.icon
                span Badges
            a.item(href="/questions?type=unanswered")
                i.translate.icon
                span Unanswered
            a.item(href="/questions/ask")
                i.idea.icon
                span Ask Question