a.ui.facebook.button(href="/auth/facebook")
    i.icon.facebook
    span Facebook

a.ui.twitter.button(href="/auth/twitter")
    i.icon.twitter
    span Twitter

a.ui.google.plus.button(href="/auth/google")
    i.icon.google
    span Google

a.ui.instagram.button(href="/auth/github")
    i.icon.github
    span GitHub