div.ui.fixed.menu
    div.container
        div.title.item.active
            a(href="/")
                b MongoOverflow
        div.right.menu
            if(user.isAuthenticated)
                a.item(href="/users/#{user._id}/#{user.seoName}")
                    i.user.icon
                    span= user.displayName
                a.item(href="/auth/logout")
                    i.sign.out.icon
                    span Logout
            else
                a.item(href="/auth/login")
                    i.sign.in.icon
                    span Login
                a.item(href="/auth/register")
                    i.sign.in.icon
                    span Sign Up
            div.item
                div.ui.transparent.icon.input
                    input(placeholder="Search...", type="text")
                    i.search.link.icon